body{
    margin:0px;
    padding: 0px;
    text-align:center;
    width: 100%;
    background-image: url("house.jpg");
    background-repeat: no-repeat;
    background-size: 1500px;
    }

    input[type=text],[type=password],[type=number]{
    width: 20%;
    margin: 10px 0px;
    padding: 7px 10px;
    display: inline-block;
    border:1px solid #ccc;
    box-sizing: border-box;
    }
 
    button{
    background-color:#4CAF50;
    width: 10%;
    padding: 9px 5px;
    margin:10px 0px 0px 35px;
    cursor:pointer;
    border:none;
    color:#ffffff;
    margin-left: 50px;
    font-size: 15px;
    font-weight: bold;
    }
 
    button:hover{
    opacity:0.8;
    }
 
    #fn,#ln,#un,#pwd,#em,#mn,#fm,#cy{
    font-family:'Lato', sans-serif;
    color: gray;
    }
 
    #em{
    margin-left:30px;
    }
    #container{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width:600;
        height: 300px;
        text-align: center;
    }

